@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

a:visited {
  color: black;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: Comfortaa, sans-serif;
}

.buttonHomeWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 26px;
}

.buttonHomeWrap .buttonHome {
  border: 1px solid #000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
  background-color: #d3ebf0;
}

.bodyWelcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 375px;
  height: 812px;
  margin: 0 auto;
  background-image: url("../img/welcome_home.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.bodyWelcome .welcomeMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 34px;
  text-align: center;
  margin-top: 170px;
  margin-bottom: auto;
}

.devicesWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.devicesWrap .devicesName {
  font-size: 36px;
  margin: 85px auto 0;
}

.devicesWrap .meteostationWrap {
  margin: 14px 27px 41px 27px;
  border-radius: 35px;
  min-height: 549px;
  background-color: #cbedf5;
}

.devicesWrap .meteostationWrap .meteostationButton {
  border-radius: 15px;
  margin: 27px auto auto 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.devicesWrap .meteostationWrap .meteostationButton .imgDrop {
  padding: 4px 0px 6px 4px;
}

.devicesWrap .meteostationWrap .meteostationButton .meteostationName {
  font-size: 20px;
  padding: 5px 5px 5px 15px;
}

.devicesWrap .meteostationWrap .meteostationButton .arrowRight {
  padding: 14px 14px 14px 0px;
}

.mstationWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background: linear-gradient(180.02deg, #b8dbe2 1.01%, #c4e5ec 47.49%, #efefef 99.99%);
}

.mstationWrap .mstationMainText {
  margin: 0 auto;
  font-size: 24px;
}

.mstationWrap .mstationIndicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.mstationWrap .mstationIndicators .indicator {
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  min-width: 338px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.mstationWrap .mstationIndicators .indicator .indicatorWrapLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}

.mstationWrap .mstationIndicators .indicator .indicatorWrapRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
