.devicesWrap {
  display: flex;
  flex-direction: column;
  .devicesName {
    font-size: 36px;
    margin: 85px auto 0; // внешние отступы верх, справа, снизу, слева.
  }
  .meteostationWrap {
    margin: 14px 27px 41px 27px; // внешние отступы верх, справа, снизу, слева.
    border-radius: 35px;
    min-height: 549px; // минимальная высота
    background-color: #cbedf5;
    .meteostationButton {
      border-radius: 15px;
      margin: 27px auto auto 20px;
      display: inline-flex;
      background-color: #fff;
      align-items: center;
      .imgDrop {
        padding: 4px 0px 6px 4px; // внутренние отступы верх, справа, снизу, слева.
      }
      .meteostationName {
        font-size: 20px;
        padding: 5px 5px 5px 15px;
      }
      .arrowRight {
        padding: 14px 14px 14px 0px;
      }
    }
  }
}
