.mstationWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180.02deg,
    #b8dbe2 1.01%,
    #c4e5ec 47.49%,
    #efefef 99.99%
  );
  .mstationMainText {
    margin: 0 auto;

    font-size: 24px;
  }
  .mstationIndicators {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .indicator {
      font-size: 14px;
      justify-content: space-between;
      border-radius: 15px;
      min-width: 338px;
      display: flex;
      align-items: center;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      .indicatorWrapLeft {
        display: flex;
        align-items: center;
        gap: 13px;
      }
      .indicatorWrapRight {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}
